.mainSection {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  justify-content: space-between;
  border-right: 1px solid #edf5fe;
  overflow: hidden;
}

.topSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.iconPlusText {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.iconPlusText > p {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: var(--poppins-fontFamily);
}

.iconPlusText > img {
  margin-left: 1.8rem;
}

.projectTitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.projectTitle > p {
  font-weight: 700;
}

.pageBtn {
  height: 3rem;
  cursor: pointer;
}

.pageBtn:hover {
  transform: scale(1.02);
}

.pageBtn > p {
  font-weight: 500;
  color: #707070;
}

.logout {
  margin-bottom: 1rem;
  height: 3rem;
  cursor: pointer;
}

.logout:hover {
  transform: scale(1.1);
}

.logout > p {
  color: #cf3636;
}

.active {
  background: #4391ed1a;
  cursor: pointer;
}
.active > p {
  color: #000000;
}
